:root {
  --primary: #31a1e6;
  --primary-dark: #0e3693;
}

.background {
    background: linear-gradient(135deg, var(--primary) 1%, var(--primary-dark) 100%);
}

body {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
